* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
   font-family: "Montserrat", sans-serif;
    
}
 /* mobile navbar */
  .input-wrapper {
    position: relative;
    display: inline-block;
  }
  /* navbar logo  */
 .logo-1{
      width: 100px;
       
    }
  .input-wrapper span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    transition: 0.2s;
  }

  .input-wrapper input:focus + span,
  .input-wrapper input:not(:placeholder-shown) + span {
    opacity: 0;
  }

  .input-wrapper input {
    padding: 8px 10px;
  }
@media (max-width: 768px) {
  .navbar{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px rgb(82, 79, 79);
  padding: 26px 14px 26px 14px !important;
  
  top: 0px;
  z-index: 2;
  width: 100%;
  background-color: white;
 

 }
 .navbar h1{
  color: #079839;
  font-size: 20px !important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 450;
 }
 .span1{
  margin-left: 8px;
  font-size: 24px;
 }
 .span2{
     font-size: 24px;
 }
 .navbar button{
  border: none;
  background: none;
 }
 .navbar button img{
  width: 43px;
 }
 /* book table start from here */
 .reservation{
  background-color: #efe9db;
  padding: 32px 14px 55px 14px !important;
z-index: 3;
margin-top: 0px !important;
 }
 .reservation div {
  background-color: #079839;
  width: 35px !important;
  height: 2px;
 }
 .reservation h1{
      color:  #ed2629;
      font-weight: 600;
       font-size: 22px !important;
       font-family: 'Times New Roman', Times, serif;
 }
 .span3{
  font-size: 24px !important;
    font-family: "Cinzel Decorative", serif !important;
 }
  
 .reservation p{
  font-size: 24px !important;
  color: rgb(73, 64, 64);
  
 }
 .text-1{
  padding: 35px 70px 35px 70px !important ;
  color: #079839;
   font-size: 15px !important;
   min-width: 250px !important;
 }

 .form-section{
  display: flex;
  flex-direction: column;
  margin: 14px 14px 28px 14px !important;
   box-shadow: none !important;
  background-color: #f5f5f5;
  padding: 28px 14px 38px 14px !important;
  gap: 14px;
  min-width: 95% !important;
 }
 .form-section button{
  width: 100% !important;
 }
 .text-input{
  height: 150px !important;
 }
.form-section input{
  height: 55px;
   border: none;
 box-shadow: 1px 1px 1px -1px rgba(82, 79, 79, 0.5);
width: 100%;
 
  padding-left: 18px;
}
 
.form-section button{
  background-color: green;
  height: 50px;
  font-size: 15px;
  margin-top: 17px !important;
  border: none;
  color: white;
}
/* Order now mobile version page start from here */
.hero-section{
  background-color: #efe9db;
   
  padding: 14px 14px !important;
} 
.order-text{
   
   
  font-size: 30px !important;
}
.hero-section .text-4{
  font-size: 25px !important;
  margin-top: -5px !important;
}
.line-2{
  margin-top: 40px !important;
}
.offer-text{
  font-size: 30px !important;
}
.text-4{
  font-size: 24px !important;
}
.text-3{
  font-size: 18px !important;
  margin-bottom: 20px;
}
/* food menu start from here */
.food-menu{
   
  
 
  padding: 20px 14px !important;
  position: sticky;
}
.hamburger{
  display:block !important;
}
/* Desktop navbar menu */
.menu-desktop{
  display: none;
}
.desk-btn{
  display: none !important;
}
.container-4 .product-section{
    width: 100% !important;
  }
  .container-4 .order-section{
    width: 100% !important;
  }
   .container-4{
    padding: 0px !important;
   }
}
 /* navbar start from here */
  .navbar{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px rgb(82, 79, 79);
  padding: 26px 42px 26px 68px;
    
   
align-items: center;
  width: 100%;
  background-color: #fff;
 

 }
 .desk-btn{
  display: block;
 
 }
.desk-btn button {
  background-color:#079839;
   font-size: 20px;
   padding: 10px 20px;
   margin-right: 20px;
   border-radius: 5px;
  border:none;
  cursor: pointer;
   color: white;
}
.desk-btn button:hover{
  background-color:#0ddf56;
}
 .menu-desktop ul {
 display: flex;
 list-style: none;
 gap: 5px;
 
 }
 .menu-desktop ul a {
  text-decoration: none;
   color: #000000;
   font-weight: 500;
   font-size: 20px;
   padding: 10px 20px ;
   border-radius: 5px;
 }
 .menu-desktop ul a:hover{
  background-color:#079839;
  color: white;
  
 

 }
 /* product and order page  */
  .container-4{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
  justify-content: space-evenly;
  }
  .container-4 .product-section{
    width: 52%;
  }
  .container-4 .order-section{
    width: 31%;
  }
 
  
 .navbar label img{
  width: 43px;
 }
/* Book table page start from here */

 .reservation{
  background-color: #efe9db;
  padding: 86px 14px 86px 68px;
z-index: 3;
margin-top: 0px;
 }
 .reservation div {
  background-color: #079839;
  width: 85px;
  height: 2px;
 }
 .reservation h1{
      color:  #ed2629;
      font-weight: 600;
       font-size: 48px;
       font-family: 'Times New Roman', Times, serif;
 }
 .span3{
  font-size: 50px;
    font-family: "Cinzel Decorative", serif !important;
 }
 .reservation p{
  font-size: 24px;
  color: rgb(73, 64, 64);
  
 }
 .text-1{
  padding: 35px 70px 35px 70px;
  color: #079839;
   font-size: 22px;
   min-width: 650px;
   text-align: center;
   font-weight: 600;
 }
 .form-section-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .form-section{
  display: flex;
  flex-direction: column;
  min-width: 650px;
  margin: 42px 62px 76px 62px;
   box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f5f5f5;
  padding: 76px 42px 100px 42px;
  gap: 14px;
 }
 .text-input{
  height: 150px !important;
 }
 
.form-section input{
  height: 55px;
   border: none;
 box-shadow: 1px 1px 1px -1px rgba(82, 79, 79, 0.5);
color: #646363;
 
  padding-left: 18px;
}
.form-section input::placeholder{
  color: rgba(128, 128, 128, 0.514);
}
.form-section button{
  background-color: green;
  height: 50px;
  width: 240px ;
  font-size: 15px;
  margin: 10px auto;
  border: none;
  color: white;
  font-weight: 300 !important;
  cursor: pointer;
}


/* mobile Hamburger button */
.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  z-index: 10;
  display:none;
}

/* Mobile menu styles */
.menu {
  position: absolute;
  top: 105px;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column ;
  gap: 15px;
  background: #fff;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu a{
  text-decoration: none;
  color: black;
  padding: 10px 20px;
width: 150px;
margin: auto;
text-align: center;
border-radius: 5px;
}
.menu a:hover{
  background-color:#079839;
  color: white;
}

.menu a button{
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  width: 150px;
 padding: 10px 20px;
  background-color: #079839;
  border: none;
 
  margin-left: -20px;
  cursor: pointer;
}
/* Show menu when checkbox is checked */
#menu-toggle:checked + .hamburger + .menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
/* hero section start from here */
.hero-section{
  background-color: #efe9db;
  
  padding: 60px 70px;
} 
.text-3{
  font-size: 20px;
}
.hero-section .text-4{
  font-size: 42px;
  margin-top: -10px;
}
.hero-section p strong{
  color: #079839;
}
.line-1 {
background-color: #079839;
height: 2px;
width: 55px;
}
.line-2{
  background-color:#079839;
height: 2px;
width: 55px;
margin-top: 60px;
}
.order-text{
  font-family:"Cinzel Decorative", serif !important;
  color:#ed2629;
  font-size: 50px;
}
.offer-text{
  font-family:"Cinzel Decorative", serif !important;
  color:#079839;
  font-size: 50px;

}
/* food menu start from here */
.food-menu{
  background-color: #ed2629;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.box-1 p{
  color: white;
}
.box-1{
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 5px;
}
.box-1 img{
  width: 20px;
}
.option-section{
  padding: 5px 10px;
}
  details {
      position: relative;
      display: inline-block;
    }

    summary {
      list-style: none;
      cursor: pointer;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      padding: 10px 20px;
      border-radius: 4px;
      font-weight: 600;
    }
    summary img{
      width: 15px;
      margin-left: 5px;
    }

    details[open] summary {
      background-color: #ffffff;
    }

    details ul {
      position: absolute;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      list-style: none;
      border: 1px solid #ccc;
      width: 160px;
    }

    details ul li a {
      display: block;
      padding: 10px 16px;
      text-decoration: none;
      color: black;
      text-align: start;
    }

    details ul li a:hover {
      background-color: #ddd;
    }
    .home-page{
      background-color: #efe9db;
    }
    /* product section start from here */
    .product-section{
      background: #f5f5f5;
      margin: 40px;
       
    }
    .product-list{
      margin-top: 40px;
    }
    .text-2{
      color: #079839;
      font-weight: 600;
    }
    /* responsive for tablet and ipad */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .container-4 .order-section{
        width: 100%;
      }
      .container-4 .product-section{
        width: 100%;
      }
      .menu-desktop{
        display: none;
      }
      .desk-btn{
        display: none;
      }
      .hamburger{
  display:block;
}
    }
    /* responsive for mobile */
    @media (max-width: 768px) {
      /* product section start from here */
      .product-section{
        
        margin: 14px !important;
      }
      .box-1{
        font-size: 18px !important;
      }
       .card-1{
         
        
        margin: 14px !important ;
         
    }
    .card-1 img{
      width: 110px !important;
      height: 110px !important;
    }
    .appetizeer{
       background-size: cover !important;
      padding: 24px !important;
      
     
    }
    /* order section start from here */
    .my-order{
      padding: 22px !important;
      background-size: cover !important;
       
    }
     .in-card h5{
          
          font-size: 20px !important;
          margin-bottom: 5px;
    }
     .in-card div p{
        font-size: 16px !important;
    }
      .in-card div button{
        width: 92px !important;

        font-size: 14px !important;
      }
       .text-5{
        font-size: 15px !important;
       }
        .order-section{
          margin: 14px !important;
        }
        .cart{
          padding: 14px !important;
          margin-top: 0px !important;
        }
        .box-3{
          width: 100% !important;
        }
        .details{
          margin: 30px 50px !important;
        }
        /* collection section start from here */
        .collection-section{
          margin: 14px !important;
          padding: 28px 14px !important;
        }
        .checkout-section{
          margin: 14px !important;
        }
      .container{
        margin:28px 14px !important;
      }
      /* checkout section start from here */
      .checkout{
        padding: 24px !important;
        background-size: cover !important;
      }
      .input-section{
        padding: 14px !important;
      }
      .payment-section .img-4{
        width: 100% !important;
      }
      .payment-section .img-3{
        width: 100% !important;
      }
      .box-5{
     
    margin: 50px 0px !important;
    font-size: 18px !important;

  }
  .box-6 h5{
     
    font-size: 20px !important;
  }
  .box-6{
    padding: 40px !important;
    margin: 15px !important;
  }
  /* confirmation mobile version page start from here */
   .confir-hero{
     
    padding: 30px 15px 60px 15px !important;
    
  }
  .confir-hero h1{
    font-size: 30px !important;
  }
   .confir-hero p{
    font-size: 27px !important;
   }
   /* popup-select-option page mobile version start from here */

   .pop-up{
   width: 80% !important;
   
    }

    .option-select h1{
      font-size: 16px !important;
    }
    .card-text-2{
      margin: 15px 30px !important;
    }
    .card-text-2 h5{
      font-size: 18px !important;
    }
    .card-text-2 div button {
      width: 92px !important;
       
    }
    .option-select {
      padding: 20px 30px 30px 30px !important;
      margin-bottom: 10px !important;
      background-size: cover !important;
     }
 .btn-1{
  font-size: 15px !important;
 }
.popup-container{
  width: 80% !important;
} 
.button-1{
  width: 100% !important;
}
/* mobile navbar logo design */
.logo-1{
  
  
    width: 70px !important;
    height: 70px !important;
}
/*  order type in online order page*/
 .order-type{
  width: 100% !important;
 }
 .error-box p{
  padding: 5px 15px  !important;
  font-size: 12px !important;
  margin-left: -20px !important;
 }
 .error-box img{
  width: 80px !important;
  height: 80px !important;
 }
    
 .order-type .div-1{
  height: 40px !important;
  padding-top: 8px !important;
   
 }
 .order-type .div-2{
  height: 40px !important;
  padding-top: 8px !important;
   
 }
    }
    
   /* product-list start from here */
    .card-1{
        display: flex;
        justify-content: center;
        gap: 14px;
        margin-top: 14px;
        margin: 14px 50px 50px 50px;
        
         
    }
    .card-1 img{
      width: 130px;
      height: 130px;
    }
    .card-1 div div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
    }
  
    .appetizeer{
      background-image:url(./Assets/vector4.png);
       
      padding: 40px;
      background-repeat: repeat-x;
      background-position: center;
      background-size: contain;
     
    }
    .in-card h5{
          color: #ed2629;
          font-size: 22px;
    }
  .in-card{
    border-bottom: rgba(128, 128, 128, 0.227) 1px solid;
    padding-bottom: 20px;
    margin-bottom: 5px;
  }
    .in-card div p{
        font-size: 20px;
    }
    .in-card div button{
      background-color: #079839;
      width: 100px;
      height: 35px;
      color: white;
      border: none;
      cursor: pointer;
    }
    .text-5{
      font-size: 16px;
      margin-top: 10px;
    }
    .text-6{
      color: #079839;
      font-size: 14px;
      margin-top: 6px;
    }
    .text-7{
      font-size: 14px;
      color:#ed2629;
    }
    .order-section{
       background: #fff;
       margin: 50px;
       padding-bottom: 10px;
      height:fit-content;
    }
    /* my order section start from here */
    .my-order{
        background-image:url(./Assets/vector1.png);
      
      padding: 20px;
       
      display: flex;
      justify-content: space-between;
      background-position: center;
      background-repeat: repeat-x;
      background-size: contain;
      color: white;
    }
    .cart{
       margin-top: 40px;
       padding: 0px 50px 10px 50px ;
       background-color:#fff;
      
    }
    .cart-1{
      display: flex;
      gap: 24px;
      margin: 22px 0px 0px 0px;
      
    }
    .div-1{
      border-bottom: 1px solid rgba(59, 56, 56, 0.395);
      padding-bottom: 6px;
    width: 100%;
    }
    .cart-1 img{
        width: 70px;
        height: 70px;
    }
    .cart-1 div h5{
      color: #ed2629;


    }
    
    .box-2{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 10px;
      margin-top: 10px;
    }
    .box-2 img{
      width: 30px;
      height: 30px;
       
    }
    .botton-1{
      margin-left: 10px;
    }
    .box-2 h4{
      font-size: 25px;
      background:#ed2629;
      color: white;
       border: none;
      min-width: 30px;
       margin-top: -2px;
       min-height: 30px;
       text-align: center;
    }
    .box-2 button{
      border: none;
    }
    .img-1{
       width: 20px;
      height: 20px;
      
      padding: 5px;
      border: 2px solid black;
    }
    .box-3{
      display: flex;
       justify-content: space-between;
       width: 100%;

    } 
    .box-3 p{
      margin-top: 30px;
       
    }
    .details{
      margin: 5px 90px 30px 90px;
      
    }
    .details div{
      display: flex;
      justify-content: space-between;

    }
    .box-4{
      background:#079839;
      margin: 14px;
      padding: 18px;
      color: white;
    }
    /* collection section start from here */
    .collection-section{
      background:#079839;
      margin: 50px;
      padding:  40px 20px;
      
    }
    .date-1{
      display: flex;
    }
    .date-1 h2{
        font-size: 33px ;
        color: rgba(255, 255, 255, 0.636);
    }
    .date-1 div{
      height: 2px;
      width:100%;
      background-color: rgba(255, 255, 255, 0.636);
      margin-top: 31px;
      margin-left: -3px;

    }
    .collection-section p{
      background:#cccccc52;
      margin-bottom: 10px;
      font-size: 23px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    /* payment section start from here */
     .payment-section {
      width: 100%;
      display: flex;
    justify-content: center;
      gap: 10px;
     }
    .payment-section span{
      display: flex;
   
    }
    .img-3{
      justify-content: space-between;
          width: 240px;
        color: #079839;
        padding: 8px 18px;
        background-color:#ddd9cd95 ;
        cursor: pointer;
        
         
    }
  
    .img-3 p{
      font-weight: 600;
    }
    .img-4 p{
      font-weight: 600;
      color: white;
    }
    .img-4 {
      justify-content: space-between;
         width: 240px;
         
        background-color: #079839;
        cursor: pointer;
        height: 40px;
        align-items: center;
        padding: 8px 14px;
        display: flex;
        
    }
    .payment-section span img{
        width: 20px;
        height: 20px;
    }
    
    .error-box{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95%;
      margin: auto;
      margin-top: 10px;

    }
    .error-box img{
      width: 50px;
      height: 50px;
      z-index: 2;
    }
    .error-box p{
      font-size: 15px;
padding: 3px 40px;
      background: #e0a929;
      margin-left: -20px;
      text-align: center;
      border:  1px red solid;
    }
    /* checkout section start from here */
    .checkout{
      background-image: url(./Assets/vector1.png);
      background-position: center;
      background-size: contain;
      
      background-repeat: repeat-x;
      padding:    50px;
      color: white;
    }
    .checkout-section{
      background:#fff;
      margin: 50px;
      padding-bottom: 20px;
    }
    .input-section{
      display: flex;
      flex-direction: column;
      background-color: #f5f5f5!important;
      padding: 30px;
      gap: 15px;
       
    }
  .input-section input{
    background-color:#ddd9cd95;
    border: none;
    height: 50px;
    padding-left: 20px;
  }
  .order-type-1{
    margin-bottom: 7px;
  }
  .input-section select{
    background-color:#ddd9cd95;
    border: none;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #978787;
  }
  .container{
     background: #ddd9cd95; 
    padding: 25px;
    margin: 28px;
  }
  .order-type{
    display: flex;
    justify-content: center;
     
    gap: 20px;
  }
  /* Deliver button hover */
   .order-type .div-1:hover{
    background: #079839;
    color: white;
   }
   /* Collection button hover */
    .order-type .div-2:hover{
    background: #079839;
    color: white;
   }
   /* deliver button */
  .order-type .div-1
    {
       background: #079839;
    border: solid 2px #079839;
     
    color: #ffffff;
      font-weight: 600;
    width: 240px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
  }
  /* collection button */
  .div-2{
    background: transparent;
    border: solid 2px #079839;
    width: 240px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: #079839;
    font-weight: 600;
    cursor: pointer;
  }
  .div-3{
    display: flex;
    justify-content: center;
  }
  /* submit button */
  .button-1{
    background-color: #ed2629;
    font-weight: 600;
    width: 240px;
    margin: auto;
    height: 50px;
    color: white;
    margin-top: 16px;
    border: none;
    cursor: pointer;
  }
  /* confirmation page start from here */
  .confir-hero{
     
    padding: 80px;
    background:#efe9db;
  }
  .confir-hero div{
    background-color: #079839;
    height: 2px;
    width: 40px;
  }
  .span-4{
          font-family:"Cinzel Decorative", serif !important;

  }
  .confir-hero h1{
    font-size: 35px;
    color: #ed2629;
 font-family: 'Times New Roman', Times, serif;
  }
  .confir-hero p{
    font-size: 30px;
    color: rgb(26, 23, 23);
    font-weight: 300;
  }
  .box-5{
    text-align: center;
    margin: 80px 0px;
    font-size: 25px;

  }
  .box-5 h4{
    margin: 50px 0px;
    color: #079839;
    font-weight: 500;
  }
  .box-6{
    background-color:#f5f5f5;
    padding: 50px 0px 25px 0px;
    margin: 60px;
    text-align: center;
    
  }
  .box-6 h5{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
  }
  .box-6 p{
    margin-bottom: 24px;
    font-size: 15px;
  }
   /* pop-up select option start from here */
.pop-up{
   width: 600px;
   
   margin: auto;
   margin-top: 100px;
   background: #fff;
   padding-bottom: 18px;

}
.option-select h1{
  text-align: center;
}
.option-select{
        background-image: url(./Assets/vector2.png);
      background-position: center;
      background-size: contain;
      background-repeat: repeat-x;
      padding:    14px 30px 30px 40px;
      color: white;
}

.container-1{
   background-color: rgba(0, 0, 0, 0.232); /* black with 50% transparency */

  height: 100%;
}
.option-select h1{
  font-size: 25px;
  font-weight: 600;
}
.card-text-2{
 margin: 20px 40px;
 border-bottom: 1px rgba(128, 128, 128, 0.438) solid;
 padding-bottom: 15px;
}
.card-text-2 div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text-2 div button {
   background: #ed2629;
   width: 92px;
   color: white;
   border: none;
   cursor: pointer;
   height: 35px;
}
.card-text-2 h5{
  color: #ed2629;
  font-size: 18px;
}
.card-text-2 p{
  font-weight: 500;
}
.btn-1{

  background:#079839;
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
    
}
.btn-box{
  display: flex;
  justify-content: center;
}
.btn-box button{
  cursor: pointer;
}
/* popup special start from here */
.special-popup{
 background-color: rgba(0, 0, 0, 0.2); /* black with 50% transparency */

}
.popup-container{
  width: 50%;
  margin: auto;
  background: #fff;
  margin-top: 150px;
}
.hearder-section-1{
  background-color: #80ace548;
  margin-bottom: 15px;
}
.header-text{
  display: flex;
  justify-content: space-between;
  color: #079839;
  font-weight: 500;
  padding: 15px 30px;
}

.header{
  background-image: url(./Assets/vector2.png);
}
.card-3{
  padding: 8px 30px 5px 30px;
  
}
.card-3 p{
  color: #ed2629;
  font-weight: 500;
  margin-bottom: 7px;
}
.card-3 select{
  width: 100%;
  height: 35px;
   color: gray;
   padding: 0px 10px;
}
 .container-3{
  background:#fff;
  padding-bottom: 20px;

 }
 .cont-4{
    display: flex;
  justify-content: center;
  margin: 45px 0px 15px 0px !important;
 }
 .cont-4 button{
  background:#ed2629;
 cursor: pointer;
  height: 40px;
  color: white;
  border: none;
   width: 240px;
   
 }
 .btn-3{
  background: #80ace548;
   display: flex;
   justify-content: center;
   padding: 20px 0px;
 }
 .btn-3 button {
  background :#079839;
cursor: pointer;
 width: 240px;
  height: 50px;
  margin: auto;
  border: none;
  color: white;
 }
/* some css for book table page   */
 select {
  appearance: none; 
  -webkit-appearance: none;  
  -moz-appearance: none; 
  background: url('/Assets/arrow-down-sign-to-navigate.png') no-repeat  right 1.5rem center;
  background-size: 1em;
  padding: 0.5rem 3rem 0.5rem 1rem; 
}

#date-select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

   background-size: 1rem;

  padding: 0.5rem 1.5rem 0.5rem 1rem; 
}
#time-select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

   background-size: 1rem;

  padding: 0.5rem 1.5rem 0.5rem 1rem; 
}
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
 
.details-1{
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: -5px;
}
.note{
  height: 80px !important;
 
   
}
.payment-m{
  margin-top: 15px;
  font-weight: 600;
}
 
 